# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage and test reports
htmlcov/
coverage.xml
.cache/
.pytest_cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
